create database MobileContext
GO
USE [MobileContext]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/25/2019 02:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 12/25/2019 02:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaDH] [int] NOT NULL,
	[MaDT] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [int] NOT NULL,
	[GiamGia] [int] NOT NULL,
	[TongGia] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietDonHang] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC,
	[MaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 12/25/2019 02:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [int] NOT NULL,
	[MaDT] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[TongGia] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DienThoai]    Script Date: 12/25/2019 02:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DienThoai](
	[MaDT] [int] IDENTITY(1,1) NOT NULL,
	[MaModel] [int] NOT NULL,
	[Mau] [nvarchar](max) NULL,
	[Gia] [int] NOT NULL,
	[GiamGia] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[Hinh] [nvarchar](max) NULL,
 CONSTRAINT [PK_DienThoai] PRIMARY KEY CLUSTERED 
(
	[MaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 12/25/2019 02:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDH] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[NgayLapDH] [datetime2](7) NOT NULL,
	[TongGia] [int] NOT NULL,
	[TrangThai] [nvarchar](max) NULL,
 CONSTRAINT [PK_DonHang] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 12/25/2019 02:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[MaKH] [int] NOT NULL,
	[MaDT] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_GioHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC,
	[MaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hang]    Script Date: 12/25/2019 02:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hang](
	[MaHang] [int] IDENTITY(1,1) NOT NULL,
	[TenHang] [nvarchar](max) NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_Hang] PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 12/25/2019 02:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaDH] [int] NOT NULL,
	[TenKH] [nvarchar](max) NULL,
	[SoDT] [nvarchar](max) NULL,
	[GioiTinh] [nvarchar](max) NULL,
	[MaKH] [int] NULL,
	[TongThanhToan] [int] NOT NULL,
	[DiaChi] [nvarchar](max) NULL,
	[NgayLapHD] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IMEI_DienThoai]    Script Date: 12/25/2019 02:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMEI_DienThoai](
	[IMEI] [nvarchar](450) NOT NULL,
	[MaDT] [int] NOT NULL,
	[MaHD] [int] NOT NULL,
 CONSTRAINT [PK_IMEI_DienThoai] PRIMARY KEY CLUSTERED 
(
	[IMEI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/25/2019 02:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[SoDienThoai] [nvarchar](max) NULL,
	[GioiTinh] [nvarchar](max) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ModelDienThoai]    Script Date: 12/25/2019 02:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModelDienThoai](
	[MaModel] [int] IDENTITY(1,1) NOT NULL,
	[TenModel] [nvarchar](max) NULL,
	[MaHang] [int] NOT NULL,
	[Ram] [nvarchar](max) NULL,
	[Rom] [nvarchar](max) NULL,
	[ManHinh] [nvarchar](max) NULL,
	[Camera] [nvarchar](max) NULL,
	[Pin] [nvarchar](max) NULL,
	[Chip] [nvarchar](max) NULL,
	[NgayRaMat] [datetime2](7) NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[Hinh] [nvarchar](max) NULL,
 CONSTRAINT [PK_ModelDienThoai] PRIMARY KEY CLUSTERED 
(
	[MaModel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/25/2019 02:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenTK] [nvarchar](450) NOT NULL,
	[MatKhau] [nvarchar](max) NULL,
	[MaKH] [int] NOT NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[TenTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoanAdmin]    Script Date: 12/25/2019 02:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoanAdmin](
	[User] [nvarchar](450) NOT NULL,
	[Pass] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Role] [nvarchar](max) NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_TaiKhoanAdmin] PRIMARY KEY CLUSTERED 
(
	[User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20191217035035_InitialCreate', N'3.1.0')
INSERT [dbo].[ChiTietDonHang] ([MaDH], [MaDT], [SoLuong], [DonGia], [GiamGia], [TongGia]) VALUES (1, 8, 1, 32500000, 3500000, 29000000)
INSERT [dbo].[ChiTietDonHang] ([MaDH], [MaDT], [SoLuong], [DonGia], [GiamGia], [TongGia]) VALUES (2, 6, 2, 23990000, 800000, 46380000)
INSERT [dbo].[ChiTietDonHang] ([MaDH], [MaDT], [SoLuong], [DonGia], [GiamGia], [TongGia]) VALUES (3, 31, 1, 11990000, 1300000, 10690000)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaDT], [SoLuong], [TongGia]) VALUES (1, 31, 1, 10690000)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaDT], [SoLuong], [TongGia]) VALUES (2, 8, 1, 29000000)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaDT], [SoLuong], [TongGia]) VALUES (3, 6, 1, 23190000)
SET IDENTITY_INSERT [dbo].[DienThoai] ON 

INSERT [dbo].[DienThoai] ([MaDT], [MaModel], [Mau], [Gia], [GiamGia], [SoLuong], [Hinh]) VALUES (1, 1, N'Trắng', 21990000, 800000, 100, N'\images\DienThoai\1.webp')
INSERT [dbo].[DienThoai] ([MaDT], [MaModel], [Mau], [Gia], [GiamGia], [SoLuong], [Hinh]) VALUES (2, 1, N'Tím', 21990000, 800000, 80, N'\images\DienThoai\2.webp')
INSERT [dbo].[DienThoai] ([MaDT], [MaModel], [Mau], [Gia], [GiamGia], [SoLuong], [Hinh]) VALUES (3, 1, N'Đen', 21990000, 800000, 112, N'\images\DienThoai\3.webp')
SET IDENTITY_INSERT [dbo].[DienThoai] OFF
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([MaDH], [MaKH], [NgayLapDH], [TongGia], [TrangThai]) VALUES (1, 1, CAST(N'2019-12-17 11:01:59.1934120' AS DateTime2), 29000000, N'Đã duyệt')
INSERT [dbo].[DonHang] ([MaDH], [MaKH], [NgayLapDH], [TongGia], [TrangThai]) VALUES (2, 1, CAST(N'2019-12-17 11:02:14.0704057' AS DateTime2), 46380000, N'Đã duyệt')
INSERT [dbo].[DonHang] ([MaDH], [MaKH], [NgayLapDH], [TongGia], [TrangThai]) VALUES (3, 1, CAST(N'2019-12-17 11:02:23.1745402' AS DateTime2), 10690000, N'Đã duyệt')
SET IDENTITY_INSERT [dbo].[DonHang] OFF
INSERT [dbo].[GioHang] ([MaKH], [MaDT], [SoLuong]) VALUES (5, 1, 1)
SET IDENTITY_INSERT [dbo].[Hang] ON 

INSERT [dbo].[Hang] ([MaHang], [TenHang], [TrangThai]) VALUES (1, N'Samsung', 1)
INSERT [dbo].[Hang] ([MaHang], [TenHang], [TrangThai]) VALUES (2, N'Apple', 1)
INSERT [dbo].[Hang] ([MaHang], [TenHang], [TrangThai]) VALUES (3, N'Vsmart', 0)
SET IDENTITY_INSERT [dbo].[Hang] OFF
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHD], [MaDH], [TenKH], [SoDT], [GioiTinh], [MaKH], [TongThanhToan], [DiaChi], [NgayLapHD]) VALUES (1, 3, N'Phạm Toàn Trung', N'0947902015', N'Nam', 1, 10690000, N'Biên Hòa-Đồng Nai', CAST(N'2019-12-17 11:09:42.8045974' AS DateTime2))
INSERT [dbo].[HoaDon] ([MaHD], [MaDH], [TenKH], [SoDT], [GioiTinh], [MaKH], [TongThanhToan], [DiaChi], [NgayLapHD]) VALUES (2, 1, N'Phạm Toàn Trung', N'0947902015', N'Nam', 1, 29000000, N'Biên Hòa-Đồng Nai', CAST(N'2019-12-17 11:10:09.4386128' AS DateTime2))
INSERT [dbo].[HoaDon] ([MaHD], [MaDH], [TenKH], [SoDT], [GioiTinh], [MaKH], [TongThanhToan], [DiaChi], [NgayLapHD]) VALUES (3, 4, N'Phạm Toàn Trung', N'0947902015', N'Nam', 1, 47870000, N'Biên Hòa-Đồng Nai', CAST(N'2019-12-17 11:12:33.4570055' AS DateTime2))
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
INSERT [dbo].[IMEI_DienThoai] ([IMEI], [MaDT], [MaHD]) VALUES (N'1001', 31, 1)
INSERT [dbo].[IMEI_DienThoai] ([IMEI], [MaDT], [MaHD]) VALUES (N'1002', 8, 2)
INSERT [dbo].[IMEI_DienThoai] ([IMEI], [MaDT], [MaHD]) VALUES (N'1003', 6, 3)
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [Email], [DiaChi], [SoDienThoai], [GioiTinh]) VALUES (1, N'Phạm Toàn Trung', N'toantrungp999@gmail.com', N'Biên Hòa-Đồng Nai', N'0947902015', N'Nam')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [Email], [DiaChi], [SoDienThoai], [GioiTinh]) VALUES (3, N'Nguyễn Hoàng Hữu Đức', N'17110285@student.hcmute.edu.vn', N'Biên Hòa-Đồng Nai', N'0909009009', N'Nam')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [Email], [DiaChi], [SoDienThoai], [GioiTinh]) VALUES (4, N'Duc', N'nguyenhoanghuuduc@yahoo.com.vn', N'Thủ Đức', N'01238275', N'Nam')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
SET IDENTITY_INSERT [dbo].[ModelDienThoai] ON 

INSERT [dbo].[ModelDienThoai] ([MaModel], [TenModel], [MaHang], [Ram], [Rom], [ManHinh], [Camera], [Pin], [Chip], [NgayRaMat], [TrangThai], [Hinh]) VALUES (1, N'Iphone 11 4GB/64GB', 2, N'4 GB', N'64 GB', N'6.1 inches 1792x828', N'Trước 12MP / Sau 12MP', N'3110 mAh', N'A13 Bionic', CAST(N'2019-08-15 00:00:00.0000000' AS DateTime2), 1, N'\images\ModelDienThoai\1.webp')
INSERT [dbo].[ModelDienThoai] ([MaModel], [TenModel], [MaHang], [Ram], [Rom], [ManHinh], [Camera], [Pin], [Chip], [NgayRaMat], [TrangThai], [Hinh]) VALUES (2, N'Iphone XS Max 4GB/64GB', 2, N'4GB', N'64GB', N'6.5 inches 1242x2688', N'Trước 7MP / Sau 12MP', N'3000mAh', N'A12 ', CAST(N'2019-01-12 00:00:00.0000000' AS DateTime2), 1, N'\images\ModelDienThoai\2.jpg')
INSERT [dbo].[ModelDienThoai] ([MaModel], [TenModel], [MaHang], [Ram], [Rom], [ManHinh], [Camera], [Pin], [Chip], [NgayRaMat], [TrangThai], [Hinh]) VALUES (3, N'Iphone 11 4GB/128GB', 2, N'4GB', N'128GB', N'6.1 inches 1792x828', N'Trước 12MP / Sau 12MP', N'3110 mAh', N'A13 Bionic', CAST(N'2019-08-15 00:00:00.0000000' AS DateTime2), 1, N'\images\ModelDienThoai\3.webp')
SET IDENTITY_INSERT [dbo].[ModelDienThoai] OFF
INSERT [dbo].[TaiKhoan] ([TenTK], [MatKhau], [MaKH], [TrangThai]) VALUES (N'ducduc', N'2A4A1B110488DF38842F95D18E860A24', 3, 1)
INSERT [dbo].[TaiKhoan] ([TenTK], [MatKhau], [MaKH], [TrangThai]) VALUES (N'huuduc14665', N'F7F1372346401C08AA57C06FDCD6AFC2', 4, 1)
INSERT [dbo].[TaiKhoan] ([TenTK], [MatKhau], [MaKH], [TrangThai]) VALUES (N'toantrung', N'6C715E1C71FB3A233F979CD34C2C98D9', 1, 1)
INSERT [dbo].[TaiKhoanAdmin] ([User], [Pass], [Name], [PhoneNumber], [Email], [Role], [TrangThai]) VALUES (N'SuperAdmin', N'0B28A5799A32C687DAD2C5183718CEAC', N'Phạm Toàn Trung', N'0947902015', N'Admin@gmail.com', N'Super Admin', 1)
/****** Object:  Index [IX_ChiTietDonHang_MaDT]    Script Date: 12/25/2019 02:06:32 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietDonHang_MaDT] ON [dbo].[ChiTietDonHang]
(
	[MaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietHoaDon_MaDT]    Script Date: 12/25/2019 02:06:32 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietHoaDon_MaDT] ON [dbo].[ChiTietHoaDon]
(
	[MaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DienThoai_MaModel]    Script Date: 12/25/2019 02:06:32 PM ******/
CREATE NONCLUSTERED INDEX [IX_DienThoai_MaModel] ON [dbo].[DienThoai]
(
	[MaModel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonHang_MaKH]    Script Date: 12/25/2019 02:06:32 PM ******/
CREATE NONCLUSTERED INDEX [IX_DonHang_MaKH] ON [dbo].[DonHang]
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GioHang_MaDT]    Script Date: 12/25/2019 02:06:32 PM ******/
CREATE NONCLUSTERED INDEX [IX_GioHang_MaDT] ON [dbo].[GioHang]
(
	[MaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HoaDon_MaDH]    Script Date: 12/25/2019 02:06:32 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_HoaDon_MaDH] ON [dbo].[HoaDon]
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HoaDon_MaKH]    Script Date: 12/25/2019 02:06:32 PM ******/
CREATE NONCLUSTERED INDEX [IX_HoaDon_MaKH] ON [dbo].[HoaDon]
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IMEI_DienThoai_MaHD_MaDT]    Script Date: 12/25/2019 02:06:32 PM ******/
CREATE NONCLUSTERED INDEX [IX_IMEI_DienThoai_MaHD_MaDT] ON [dbo].[IMEI_DienThoai]
(
	[MaHD] ASC,
	[MaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ModelDienThoai_MaHang]    Script Date: 12/25/2019 02:06:32 PM ******/
CREATE NONCLUSTERED INDEX [IX_ModelDienThoai_MaHang] ON [dbo].[ModelDienThoai]
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaiKhoan_MaKH]    Script Date: 12/25/2019 02:06:32 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TaiKhoan_MaKH] ON [dbo].[TaiKhoan]
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_DienThoai_MaDT] FOREIGN KEY([MaDT])
REFERENCES [dbo].[DienThoai] ([MaDT])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_DienThoai_MaDT]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_DonHang_MaDH] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DonHang] ([MaDH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_DonHang_MaDH]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_DienThoai_MaDT] FOREIGN KEY([MaDT])
REFERENCES [dbo].[DienThoai] ([MaDT])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_DienThoai_MaDT]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon_MaHD] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon_MaHD]
GO
ALTER TABLE [dbo].[DienThoai]  WITH CHECK ADD  CONSTRAINT [FK_DienThoai_ModelDienThoai_MaModel] FOREIGN KEY([MaModel])
REFERENCES [dbo].[ModelDienThoai] ([MaModel])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DienThoai] CHECK CONSTRAINT [FK_DienThoai_ModelDienThoai_MaModel]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_KhachHang_MaKH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_KhachHang_MaKH]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_DienThoai_MaDT] FOREIGN KEY([MaDT])
REFERENCES [dbo].[DienThoai] ([MaDT])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_DienThoai_MaDT]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_KhachHang_MaKH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_KhachHang_MaKH]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_DonHang_MaDH] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DonHang] ([MaDH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_DonHang_MaDH]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang_MaKH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang_MaKH]
GO
ALTER TABLE [dbo].[IMEI_DienThoai]  WITH CHECK ADD  CONSTRAINT [FK_IMEI_DienThoai_ChiTietHoaDon_MaHD_MaDT] FOREIGN KEY([MaHD], [MaDT])
REFERENCES [dbo].[ChiTietHoaDon] ([MaHD], [MaDT])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IMEI_DienThoai] CHECK CONSTRAINT [FK_IMEI_DienThoai_ChiTietHoaDon_MaHD_MaDT]
GO
ALTER TABLE [dbo].[ModelDienThoai]  WITH CHECK ADD  CONSTRAINT [FK_ModelDienThoai_Hang_MaHang] FOREIGN KEY([MaHang])
REFERENCES [dbo].[Hang] ([MaHang])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ModelDienThoai] CHECK CONSTRAINT [FK_ModelDienThoai_Hang_MaHang]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_KhachHang_MaKH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_KhachHang_MaKH]
GO
USE [master]
GO
